<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Álbumes</title>
    <style></style>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="header-container"> <!-- Contenedor adicional -->
            <h2>MusicHub</h2>
        </div>
        <ul>
            <li><a href="#">Álbumes</a></li>
            <li><a href="#">Canciones</a></li>
            <li><a href="/api/v1/chat">Chat</a></li>
            <!-- Agrega más opciones de navegación según sea necesario -->
        </ul>
    </div>
    <button class="navbar-toggle" id="navbar-toggle">&#9776;</button>
    <div class="container">
        <h1>Lista de Álbumes</h1>
        <% if (albums.length > 0) { %>
            <ul>
                <% albums.forEach(album => { %>
                    <li>
                        <h2><%= album.album_name %></h2>
                        <p><strong>URI:</strong> <%= album.album_uri %></p>
                        <p><strong>Artista:</strong> <%= album.artist_names.join(', ') %></p>
                        <p><strong>Fecha de lanzamiento:</strong> <%= album.album_release_date %></p>
                        <!-- Visualización de la imagen del álbum -->
                        <img src="<%= album.album_image_url %>" alt="<%= album.album_name %>" style="max-width: 200px;">
                        <!-- Aquí puedes incluir más propiedades según tus necesidades -->
                    </li>
                <% }); %>
            </ul>
            <% if (next) { %>
                <div style="text-align: center;">
                    <button onclick="window.location.href='/api/v1/albums?next=<%= next %>'">Siguiente</button>
                </div>
            <% } %>
        <% } else { %>
            <p class="no-albums">No se encontraron álbumes.</p>
        <% } %>
    </div>
    <script>
        const sidebar = document.getElementById('sidebar');
        const navbarToggle = document.getElementById('navbar-toggle');
        
        navbarToggle.addEventListener('click', () => {
            sidebar.classList.toggle('show');
        });
    </script>
</body>
</html>
