<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Álbumes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="header-container">
            <h2>MusicHub</h2>
        </div>
        <ul>
            <li><a href="/api/v1/">Inicio</a></li>
            <li><a href="/api/v1/albums">Álbumes</a></li>
            <li><a href="/api/v1/tracks">Canciones</a></li>
            <li><a href="/api/v1/chat">Chat</a></li>
            <li><a href="/api/v1/spotify">Spotify</a></li>
            <li><a href="/api/v1/musicbrainz">MusicBrainz</a></li>
        </ul>
    </div>
    <button class="navbar-toggle" id="navbar-toggle">&#9776;</button>
    <div class="container">
        <div class="main-content">
            <h1>Lista de Álbumes</h1>
                <% if (albums.length > 0) { %>
                    <ul>
                        <% albums.forEach(album => { %>
                            <li>
                                <h2><%= album.album_name %></h2>
                                <p><strong>URI:</strong> <%= album.album_uri %></p>
                                <p><strong>Artista:</strong> <%= Array.isArray(album.artist_names) ? album.artist_names.join(', ') : album.artist_names %></p>
                                <p><strong>Fecha de lanzamiento:</strong> <%= album.album_release_date %></p>
                                <img src="<%= album.album_image_url %>" alt="<%= album.album_name %>" style="max-width: 200px;">
                            </li>
                        <% }); %>
                    </ul>
                    <% if (next) { %>
                        <div style="text-align: center;">
                            <button onclick="window.location.href='/api/v1/albums?next=<%= next %>'">Siguiente</button>
                        </div>
                    <% } %>
                <% } else { %>
                    <p class="no-albums"><%= message || 'No se encontraron álbumes.' %></p>
                <% } %>
        </div>
        <div class="form-list">
            <div class="form-container">
                <h2>(GET) Barra de Búsqueda</h2>
                <!-- El formulario no necesita action ya que se manejará mediante JavaScript -->
                <form id="searchForm" method="GET">
                    <label for="search_query">Buscar álbum por URI:</label>
                    <input type="text" id="search_query" name="search_query" required>
                    <button type="submit">Buscar</button>
                </form>
            </div>
            <div class="form-container">
                <h2>(POST) Añadir Álbum</h2>
                <form action="/api/v1/albums" method="POST">
                    <label for="album_name">Nombre del Álbum:</label>
                    <input type="text" id="album_name" name="album_name" required>

                    <label for="album_uri">URI del Álbum:</label>
                    <input type="text" id="album_uri" name="album_uri" required>

                    <label for="artist_names">Nombres de los Artistas:</label>
                    <input type="text" id="artist_names" name="artist_names" required>

                    <label for="album_release_date">Fecha de Lanzamiento:</label>
                    <input type="date" id="album_release_date" name="album_release_date" required>

                    <label for="album_image_url">URL de la Imagen del Álbum:</label>
                    <input type="text" id="album_image_url" name="album_image_url" required>

                    <button type="submit">Añadir Álbum</button>
                </form>
            </div>
            <div class="form-container">
                <h2>(DELETE) Eliminar Álbum</h2>
                    <form id="deleteForm" action="/api/v1/albums" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <!-- Campos del formulario de eliminar álbum -->
                        <label for="album_id">ID del Álbum a Eliminar:</label>
                        <input type="text" id="album_id" name="album_id" required>
                        <button type="submit">Eliminar Álbum</button>
                    </form>
            </div>
            <div class="form-container">
                <h2>(PUT)</h2>
                    <form id="putForm" action="/api/v1/albums" method="POST">
                        <input type="hidden" name="_method" value="PUT">
                        <!-- Campos del formulario de eliminar álbum -->

                        <label for="album_id">URI actual del Álbum:</label>
                        <input type="text" id="album_put" name="album_put" required>

                        <label for="album_name">Nombre del Álbum:</label>
                        <input type="text" id="album_name_put" name="album_name_put" required>

                        <label for="album_uri">Nueva URI del Álbum:</label>
                        <input type="text" id="album_uri_put" name="album_uri_put" required>

                        <label for="artist_names">Nombres de los Artistas:</label>
                        <input type="text" id="artist_names_put" name="artist_names_put" required>

                        <label for="album_release_date">Fecha de Lanzamiento:</label>
                        <input type="date" id="album_release_date_put" name="album_release_date_put" required>

                        <label for="album_image_url">URL de la Imagen del Álbum:</label>
                        <input type="text" id="album_image_url_put" name="album_image_url_put" required>

                        <button type="submit">put</button>
                    </form>
            </div>
        </div>
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>
